#contact-info, .experience-main {
  font-size: .8em;
}

.job {
  background-color: #e9e5dc;
  border-radius: rounded corners;
  border: 1px solid #e9e5dc;
  border-radius: 25px;
  padding: 10px 20px ;
  margin: 25px;
}

.experience-main {
  user-select: none;
}

ul:hover {
  background-color: red;
}
